html {
  font-family: "VT323";
}

p {
  font-size: 1.5rem;
}

h1 {
  font-size: 4rem;
}

@mixin bar {
  height: 20rem;
  width: 5rem;
  border: 1px solid gray;
  background-color: transparent;
  transform: rotate(180deg);
}

@mixin progress-bar ($bcolor) {
  height: 5rem;
  width: 5rem;
  background-color: $bcolor;
}
body {
  background-image: url("https://wallpapertag.com/wallpaper/full/7/8/7/289020-download-cloud-background-2560x1600.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.sad-bar {
  @include bar;
}

.sad-bar-progress {
  @include progress-bar(yellow);
}

.food-bar {
  @include bar;
}

.food-bar-progress {
  @include progress-bar(blue);
}
.pokemon-name {
  text-align: center;
  text-transform: uppercase;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.food {
  display: flex;
  width: 5rem;
}
.mood-text {
  width: 5rem;
  text-align: center;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.disable-button {
  pointer-events: none;
}

.pokemon {
  display: flex;
  justify-content: center;
}

.name-button {
  align-self: flex-end;
}

.able-button {
  pointer-events: auto;
}

.img {
  width: 200px;
}

.img_container {
  display: flex;
  flex-direction: column;
  margin-left: 4%;
  margin-right: 4%;
  justify-content: center;
}

.sleeping_container {
  text-align: center;
  display: flex;
  flex-direction: column;
}
